<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.InfiniumImageryLLC.infiniview">

    <!-- Internet permission if not already present -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InfiniViewApp"
        android:label="InfiniView"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfiniView">

        <!-- Required by Google Mobile Ads SDK -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6815311336585204~1891515839" />

        <!-- Your launcher Activity, etc. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="InfiniView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
